.container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.label {
  flex: 0 0 150px;
  text-align: left;
  color: #80a3eb;
}

.input {
  border: 1px solid #c0c4cc;
  padding: 11px;
  color: #6f94de;
  border-radius: 3px;
}
